name: Build Windows EXE

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build
        run: |
          pyinstaller --noconsole --onefile ^
            --add-data "assets\badge_template.jpg;assets" ^
            --add-data "fonts\Roboto-VariableFont.ttf;fonts" ^
            main.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: badge_printer_app
          path: dist/
